* {
  font-family: monospace;
}

html {
  background-color: #2b2a2a;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 10px;
    color: darkkhaki;
    text-decoration: underline;
    text-decoration-color: rgb(48, 48, 48);
    margin-bottom: 0px;
    width: fit-content;
  }

  &_Cart {
    background-color: white;
    width: fit-content;
    position: absolute;
    top: 0px;
    margin-top: 15px !important;
    text-decoration: white !important;
    right: 10px;
    border-radius: 20px;
    padding: 3px;
    font-size: 33px !important;

    &:hover {
      transform: rotateZ(360deg);
      transition: 500ms;
    }

    &:active {
      transform: translateY(5%)
    }
  }
}